<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="credited" value="0pZ1xQQrzIv0iBSylvHNMQh5yzrD4fby0Pkm5+GAWSd7/9t8bTChNpLgFfPEkpcM/Rqgize+C8lXETrZgn4mscvXRK5S5jyDLUu+Zikhws+VandKIDiRJ93riW/wg8ebUjVTZ7EwU6J9nu7stbVW9UjhTLfX1RezC/v3AdjWopk=" />
  </appSettings>
</configuration>
